<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>大事件-列表页</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.pagination.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.twbsPagination.js"></script>
  </head>
  <style>
      
  </style>

  <body>
    <div class="header">
      <a href="#" class="logo fl"><img src="images/logo.png" alt="logo"/></a>
      <div class="search_form fl">
        <input type="text" class="search_txt" placeholder="黑洞照片" />
        <button class="search_btn"><i class="fa fa-search"></i></button>
      </div>
      <div class="link_info fr">
        <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;网站地图</a
        ><br />
        <a href="#"><i class="fa fa-angle-right"></i>&nbsp;&nbsp;招聘信息</a>
      </div>
    </div>

    <div class="menu_con">
      <div class="menu">
        <div class="menu_collapse fl">
          <a href="javascript:;" class="level_one"
            ><i class="fa fa-list-ul"></i>全部分类</a
          >
          <ul class="level_two">
            <li class="up"></li>
            <!-- <li><a href="#">最 新</a></li>
                    <li><a href="#">科 技</a></li>
                    <li><a href="#">股 市</a></li>
                    <li><a href="#">商 品</a></li>
                    <li><a href="#">外 汇</a></li>
                    <li><a href="#">公 司</a></li> -->
          </ul>
        </div>
        <ul class="left_menu fl">
          <!-- <li><a href="#">最 新</a></li>
                <li><a href="#">科 技</a></li>
                <li><a href="#">股 市</a></li>
                <li><a href="#">商 品</a></li>
                <li><a href="#">外 汇</a></li>
                <li><a href="#">公 司</a></li> -->
        </ul>
        <ul class="right_menu fr">
          <li><a href="#">科技专题</a></li>
          <li><a href="#">财经专题</a></li>
        </ul>
      </div>
    </div>

    <div class="main_con clearfix">
      <div class="left_con setfr">
        <div class="list_title">
          <h3>科 技</h3>
        </div>
      </div>
      
      <div class="right_con setfl">
        <div class="common_wrap">
          <h3><i class="fa fa-bar-chart"></i> 一周热门排行</h3>
          <ul class="content_list hotComment">
          </ul>
        </div>
        <div class="common_wrap">
          <h3><i class="fa fa-commenting-o"></i> 最新评论</h3>
          <ul class="content_list comment_list">
          </ul>
        </div>
        <div class="common_wrap">
          <h3><i class="fa fa-bullseye"></i> 焦点关注</h3>
          <ul class="content_list guanzhu_list">
          </ul>
        </div>
      </div>
    </div>

    <div class="footer clearfix">
      <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
      </div>
      <p>CopyRight © 2019 深圳大事件信息技术股份有限公司 All Rights Reserved</p>
      <p>电话：0755-****888 粤ICP备*******8号</p>
    </div>

    <!-- 最新分类 -->
    <script type="text/html" id="tem-six">
      {{ each data }}
      <li><a href="./list.html?id={{ $value.id }}">{{ $value.name }}</a></li>
      {{ /each }}
    </script>
    <!-- 热门排行 -->
    <script type="text/html" id="tem-thr">
      {{ each data }}
      {{ if $index == 0 }}
      <li><span class="first">1</span><a href="./list.html?id={{ $value.id }}">{{ $value.title }}</a></li>
      {{ else if $index == 1 }}
      <li><span class="second">1</span><a href="./list.html?id={{ $value.id }}">{{ $value.title }}</a></li>
      {{ else if $index == 2 }}
      <li><span class="third">1</span><a href="./list.html?id={{ $value.id }}">{{ $value.title }}</a></li>
      {{ else }}
      <li><span>1</span><a href="./list.html?id={{ $value.id }}">{{ $value.title }}</a></li>
      {{ /if }}
      {{ /each }}
    </script>
    <!-- 最新评论 -->
    <script type="text/html" id="tem-four">
      {{ each data }}
      <li>
          <span>{{ $value.tName }}</span>
          <b><em>{{ $value.author }}</em> {{ $value.date }}说:</b>
          <strong>{{ $value.intro }}</strong>
      </li>
      {{ /each }}
    </script>
    <!-- 焦点关注 -->
    <script type="text/html" id="tem-five">
      {{ each data }}
      <li><a href="./article.html">{{ $value.intro }}</a></li>
      {{ /each }}
    </script>

    <script type="text/html" id="tem-two">
      <!-- 最新资讯 -->
      <% for (var i = 0; i < data.length; i++) { %>
          <div class="common_news_list">
              <a href="./article.html?id=<%= data[i].id %>" class="list_pic"><img src="<%= data[i].cover %>" alt=""></a>
              <h4><a href="#"><%= data[i].title %></a></h4>
              <p><%= data[i].content %>
              </p>
              <div class="new_info">
                  <span>标签：<%= data[i].categroy %>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<i class="fa fa-eye"></i>&nbsp;阅读( <%= data[i].read %>
                      )&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting"></i>&nbsp;评论( <%= data[i].comments %> )</span>
                  <b>发布于 <%= data[i].date %></b>
              </div>
          </div>
      <% } %>
      <ul id="pagination-demo" class="pagination-sm"></ul>
    </script>
    <!-- 导包template -->
    <script src="./js/template-web.js"></script>
  </body>
  <script>
    $(function() {
      let cId = location.search.split("=")[1];
      let arrStyle = ['爱生活', '爱旅行', '爱美食', '爱运动', '经济特区', '爱富婆'];
      $(".list_title h3").text(arrStyle[cId - 1]);
      // 搜索
      let num = Math.floor(Math.random() * 30 + 1);
      let key = $(".search_txt").val();
      $.get({
        url: "http://localhost:8080/api/v1/index/search",
        data: {
          key: key,
          type: cId
          //   page: num
        },
        success: function(res) {
          let str = template("tem-two", res.data);
          $(".setfr").append(str);
        }
      });
      // 最新分类
      $.get({
        url: "http://localhost:8080/api/v1/index/category",
        success: function(res) {
          if (res.code == 200) {
            let str = template("tem-six", res);
            $(".level_two").append(str);
            $(".left_menu").html(str);
          }
        }
      });
      // 文热门排行
      $.get({
        url: "http://localhost:8080/api/v1/index/rank",
        success: function(res) {
          if (res.code == 200) {
            let str = template("tem-thr", res);
            $(".hotComment").html(str);
          }
        }
      });
      // 最新评论
      $.get({
        url: "http://localhost:8080/api/v1/index/latest_comment",
        success: function(res) {
          if (res.code == 200) {
            res.data.forEach(ele => {
              ele.tName = ele.author.substr(0, 1);
            });
            let str = template("tem-four", res);
            $(".comment_list").html(str);
          }
        }
      });
      // 焦点关注
      $.get({
        url: "http://localhost:8080/api/v1/index/attention",
        success: function(res) {
          if (res.code == 200) {
            let str = template("tem-five", res);
            $(".guanzhu_list").html(str);
          }
        }
      });
      //   ================
    });
  </script>
</html>
